<title>Update Bookmark</title>
<H1>Update Bookmark</h1>

<form method="post" action="/bookmarks/<%= @params %>"> 

  <input type="text" name="title">Title</input>
  <input type="text" name="url">URL</input>

  <input type="submit" value="Submit"></input>
</form>
